#
sysname HW-FW-MOCK-01
#
clock timezone Beijing add 08:00:00
#
info-center enable
info-center loghost source Vlanif10
info-center loghost 10.20.30.10
info-center timestamp log date precision-time millisecond
#
aaa
 local-user admin password irreversible-cipher $1a$mock-hash-for-test
 local-user admin privilege level 15
 local-user admin service-type ssh terminal https
#
stelnet server enable
ssh user admin authentication-type password
ssh user admin service-type stelnet
#
interface GigabitEthernet0/0/0
 description MANAGEMENT
 ip address 192.168.100.1 255.255.255.0
 service-manage ping permit
 service-manage ssh permit
 service-manage https permit
#
interface GigabitEthernet1/0/0
 description UNTRUST_UPLINK_TO_CMNET
 ip address 203.0.113.2 255.255.255.252
#
interface GigabitEthernet1/0/1
 description TRUST_CORE_NETWORK
 ip address 10.10.10.1 255.255.255.0
#
interface GigabitEthernet1/0/2
 description DMZ_SERVICE_ZONE
 ip address 10.20.20.1 255.255.255.0
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet1/0/1
#
firewall zone dmz
 set priority 50
 add interface GigabitEthernet1/0/2
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet1/0/0
#
firewall zone management
 set priority 90
 add interface GigabitEthernet0/0/0
#
ip route-static 0.0.0.0 0.0.0.0 203.0.113.1
ip route-static 10.30.0.0 255.255.0.0 10.10.10.254
#
ip address-set CORE_APP_SERVERS type object
 address 0 10.10.10.20 mask 32
 address 1 10.10.10.21 mask 32
#
ip address-set DMZ_WEB_SERVERS type object
 address 0 10.20.20.10 mask 32
 address 1 10.20.20.11 mask 32
#
ip address-set OPS_TERMINALS type object
 address 0 192.168.100.20 mask 32
 address 1 192.168.100.21 mask 32
#
service-set WEB-SERVICES type object
 service 0 protocol tcp destination-port 80
 service 1 protocol tcp destination-port 443
#
service-set OPS-MANAGE type object
 service 0 protocol tcp destination-port 22
 service 1 protocol tcp destination-port 443
#
security-policy
 rule name TRUST_TO_DMZ_WEB
  source-zone trust
  destination-zone dmz
  source-address address-set CORE_APP_SERVERS
  destination-address address-set DMZ_WEB_SERVERS
  service WEB-SERVICES
  action permit
  log enable
 rule name MGMT_TO_LOCAL_ADMIN
  source-zone management
  destination-zone local
  source-address address-set OPS_TERMINALS
  service OPS-MANAGE
  action permit
  log enable
 rule name BLOCK_UNTRUST_TO_TRUST
  source-zone untrust
  destination-zone trust
  action deny
  log enable
 rule name TEMP_ANY_ANY_FOR_E2E_FINDING
  source-zone trust
  destination-zone untrust
  source-address any
  destination-address any
  service any
  action permit
  log enable
#
nat-policy
 rule name SNAT_TRUST_TO_UNTRUST
  source-zone trust
  destination-zone untrust
  source-address 10.10.10.0 mask 255.255.255.0
  action source-nat easy-ip
 rule name DNAT_DMZ_WEB_HTTPS
  source-zone untrust
  destination-zone dmz
  destination-address 203.0.113.10 mask 255.255.255.255
  service protocol tcp destination-port 443
  action destination-nat static address-to-address address 10.20.20.10
#
attack-defense policy CORE_BASELINE
 defend syn-flood enable
 defend udp-flood enable
 defend icmp-flood enable
 defend port-scan enable
#
traffic-policy
 profile name DEFAULT_QOS
#
user-interface con 0
 authentication-mode aaa
 idle-timeout 10 0
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
 idle-timeout 10 0
#
snmp-agent
snmp-agent community read cipher $1a$mock-snmp-read
snmp-agent sys-info version v3
#
return
